
/*this is for the username header to the webpage*/
header{
	 border-bottom: 10px solid black;
	 border-bottom-color: #B4A24C;
	 text-align: center;
	 background-color: #1B2B42;
}

/*for input objects under div's with a class of row*/
.row input{
	border: 5px solid black;
	color: #D9C63C;
	border-color: #B4A24C;
	/*block means it's evenly spaced out*/
	display: block;
	width: 20%;
	background-color: #306493;
}

div #uploadImage{
	width: 100%;
	/*makes the box arround input be the same width as the preview image*/
}

div #uploadPreview{
	/*sets dimensions of preview image and sets a default background color*/
	width: 450px;
	height: 450px;
	background-color: #1B2B42;
}

#fullImage{
	/*we store the full image here, it will, however, not be displayed*/
	display: none;
}

body
{
	/*sets the purple background for the whole page*/
	background-color: #6F3C89;
}

div.column{
	/*spaces out image upload with comment section*/
	padding-right: 5%;
}

div #subHeader{
	/*centers the header for the comment section*/
	position: relative;
	text-align: center;
	left: 220px;
}

.ui-autocomplete {
	/*this is for the autocomplete tag field*/
    overflow-y: scroll;   /* prevent horizontal scrollbar */
	height:120px; 
	cursor:pointer; 
	position: absolute;
}

#listContainer{
	/*this centers the autocomplete propperly so its right bellow the add tag input*/
	z-index: 999;
	position: relative;
	top: 36px;
}

div.ScrollBox{
	/*these are the settings for the comment section*/
	border: 5px solid black;
	color: #D9C63C;
	border-color: #B4A24C;
	display: block;
	width: 300%;
	height: 93%;
	background-color: #306493;
	overflow: scroll;
}

#myList{
	/*settings for tags list shown to user*/
	color: #D9C63C;
	padding-left: 1%;
	padding-right: 1%;
}

#commentList{
	/*settings for any submitted comments*/
	position: relative;
	top: 4%;
	margin: 5px;
}

#myCommentSub{
	/*settings for the comment submit button*/
	position: relative;
	top: 4%;
	left: 38%;
}

#myComment{
	/*setings for the comment input*/
	text-align: left;
	resize: none;
	width: 96%;
	position: relative;
	padding-right: 2%;
	left: 2%;
	top: 2%;
}