header{
	 border-bottom: 10px solid black;
	 border-bottom-color: #B4A24C;
	 text-align: center;
	 background-color: #1B2B42;
}

.row input{
	border: 5px solid black;
	color: #D9C63C;
	border-color: #B4A24C;
	display: block;
	width: 20%;
	background-color: #306493;
}

div #uploadImage{
	display: block;
	color: #D9C63C;
	width: 100%;
}

div #uploadPreview{
	width: 500px;
	height: 500px;
	display: block;
	background-color: #1B2B42;
}

#fullImage{
	display: none;
}

body
{
	background-color: #6F3C89;
}

input 
{
  min-width:50px!important;
  max-width:99.99%!important;
  transition: width 0.25s;
  text-align:center;
}

div.column{
	padding-right: 5%;
}

div #subHeader{
	position: relative;
	text-align: center;
	left: 220px;
}

.ui-autocomplete {
    overflow-y: scroll;   /* prevent horizontal scrollbar */
	height:120px; 
	cursor:pointer; 
	position: absolute;
}

#listContainer{
	z-index: 999;
	position: relative;
	top: 36px;
}

div.ScrollBox{
	border: 5px solid black;
	color: #D9C63C;
	border-color: #B4A24C;
	display: block;
	width: 400%;
	height: 90%;
	background-color: #306493;
	overflow: scroll;
}