:root {
    font-family: Helvetica;
    font-size: 14px;
}

* {
    font: inherit;
}

#meme-canvas {
	width: 100%;
}

.canvas_container {
	float: right;
	width: 30%;
	margin-right: 15%;
}

.container {
	padding-left: 20%;
	margin-left: 0%;
	position: fixed;
	float: left;
	width: 50%;
}

.gen_button {
	background-color: #B4A24C;
}

.text_field {
	background-color: #D9C63C;
	border-radius: 10px;
	width: 100%;
}